@font-face {
  font-family: 'Belwe';
  src: url('./Belwe_en.ttf');
}

body {
  overflow: hidden;
  cursor:
    url(/media/images/cursor/cursor.png) 10 2,
    auto;
}

body:active {
  cursor:
    url(../media/images/cursor/click.png) 10 2,
    auto;
}
