@font-face {
  font-family: 'Belwe';
  src: url('./Belwe_en.ttf');
}

/* Set cursor on all relevant elements */
html,
body,
canvas,
#main {
  cursor:
    url(/media/images/cursor/cursor.png) 10 2,
    auto;
}

/* Active state for all elements - shows click cursor when clicking */
html:active,
body:active,
canvas:active,
#main:active {
  cursor:
    url(/media/images/cursor/click.png) 10 2,
    auto;
}

body {
  overflow: hidden;
}
